

/* smallbutton */

.smallButton {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px;
    list-style-type: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 0%;
}

.smallButton span {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.s_var_nav {
    position: relative;
    background: transparent;
    
    /* width: 200px; */
    width: 100%;
    height: 48px;
    /* margin-bottom: 10px; */
    border: 1px solid #EB9851;
    border-radius: 0%;
}

.s_link_bg {
    width: 0px;
    height: 48px;
    position: absolute;
    background: #EB9851;
    color: #fff;
    z-index: 2;
    border-radius: 0%;
}

.s_link_bg i {
    position: relative;
}

.s_link_title {
    position: absolute;
    width: 100%;
    z-index: 3;
    color: #EB9851;
}


.s_link_title:hover {
    position: absolute;
    width: 100%;
    z-index: 3;
    color: #fff;
}

.s_link_title {
    position: absolute;
    width: 100%;
    z-index: 3;
    color: #fff;
}

.s_var_nav:hover .s_link_bg {
    width: 100%;
    background: #EB9851;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0%;
}

.s_var_nav:hover a {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.smallButton a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: 'Crimson Text','Noto Serif TC';
    color: #EB9851;
    text-decoration: none;
    width: 100%;
    height: 48px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    
}

.smallButton a:hover {
    position: absolute;
    /* float:left; */
    font-family: 'Crimson Text','Noto Serif TC';
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 48px;
    text-align: center;
}



@media screen and (max-width: 375px) {
    .s_var_nav,
    .s_link_bg,
    .smallButton a,
    .smallButton a:hover  {
        height: 38px;
    }
}


/* narmalBtn */

.normalBtn {
    font-family: 'Crimson Text','Noto Serif TC';
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 0 2rem;
    /* margin: 20px 0; */
    background-color: #09839C;
    border: #09839C solid 1px;
    color: #ffff;
    font-size: 18px;
    letter-spacing: 2px;
}

.normalBtn:hover {
    transition: .5s;
    background-color: #066375;
    border: #09839C solid 1px;
    color: #ffff;
}


@media screen and (max-width: 375px) {
    .normalBtn {
        height: 38px;
    }
}


/* discorverbutton */


  

  @-webkit-keyframes ani-mouse {
      0% {
      opacity: 1;
      top: 55%;
      }
      15% {
      opacity: 1;
      top: 60%;
      }
      50% {
      opacity: 1;
      top: 65%;
      }
      100% {
      opacity: 1;
      top: 55%;
      }
      
  }
  
  @-moz-keyframes ani-mouse {
      0% {
      opacity: 1;
      top: 55%;
      }
      15% {
      opacity: 1;
      top: 60%;
      }
      50% {
      opacity: 1;
      top: 65%;
      }
      100% {
      opacity: 1;
      top: 55%;
      }
  }
  @keyframes ani-mouse {
      0% {
      opacity: 1;
      top: 55%;
      }
      15% {
      opacity: 1;
      top: 60%;
      }
      50% {
      opacity: 1;
      top: 65%;
      }
      100% {
      opacity: 1;
      top: 55%;
      }
  }
   .scroll-btn {
    margin: 60vh auto;
       display: flex;
       flex-direction: column;
      align-items:center ;
      position: relative;

  }
  .discoverText{

      position: absolute;
      top:65px;
      z-index: 1;
      font-size: 20px;
      font-weight: 800;
      font-family: 'Crimson Text', serif;
      color: #ffffff;
      letter-spacing: 3px;
  }

  .scroll-btn .mouse {
      position: relative;
      display: block;
      width: 150px;
      height: 150px;
      margin: 0 auto 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      /* border: 3px solid white; */
      border-radius: 50%;
      background:#D7E6E8 ;
      transform:scale(1,1);
      transition: all .5s ease-out;
  }

  .scroll-btn .mouse:hover{
      background: #c5e5e9;
      transform:scale(1.1,1.1);
      /* width: 160px;
      height: 160px; */

  } 


  .scroll-btn .mouse > * {
      position: absolute;
      display: block;
      top: 100%;
      left: 50%;
      width: 3px;
      height: 70px;
      margin: 20px 0 0 0;
      background: white;
      border: none;
      /* border-radius: 50%; */
      -webkit-animation: ani-mouse 2.5s linear infinite;
      -moz-animation: ani-mouse 2.5s linear infinite;
      animation: ani-mouse 2.5s linear infinite;
      transition: all 1s ease-out;
  }

  @media screen and (max-width: 375px) {
    .scroll-btn {
        display: none;
      }
}
